# **Sprint 1 Mini Project**

## Sprint í•™ìŠµ ëª©í‘œ

- EDA & Data Wrangling ê³¼ì •ì„ ì½”ë“œë¡œ êµ¬í˜„í•  ìˆ˜ ìˆë‹¤.
- ëª©ì ì— ë§ëŠ” ì‹œê°í™”ë¥¼ í™œìš©í•˜ì—¬ ë¹„ì§€ë‹ˆìŠ¤ ì¸ì‚¬ì´íŠ¸ë¥¼ ë„ì¶œí•  ìˆ˜ ìˆë‹¤.

## Project ë¬¸ì œ ì •ì˜

### ë°°ê²½
> ì—¬ëŸ¬ë¶„ì€ ì›¹ì‚¬ì´íŠ¸ì™€ ë”ë¶ˆì–´ ì˜¤í”„ë¼ì¸ ë§¤ì¥ì„ í•¨ê»˜ ìš´ì˜í•˜ê³  ìˆëŠ” **ìì „ê±° ê±°ë˜ í”Œë«í¼ íšŒì‚¬**ì—ì„œ ë°ì´í„° ë¶„ì„ ì—…ë¬´ë¥¼ ë‹´ë‹¹í•˜ê³  ìˆìŠµë‹ˆë‹¤.<br>
í•´ë‹¹ íšŒì‚¬ì˜ ì£¼ìš” íƒ€ê²Ÿ ì§€ì—­ì€ **í˜¸ì£¼**ì´ë©°, ë§¤ì¶œì•¡ì„ ëŠ˜ë¦¬ê¸° ìœ„í•´ì„œëŠ” ìì „ê±° ê±°ë˜ ë°ì´í„°ë¥¼ ë¶„ì„í•˜ì—¬ **ì¸ì‚¬ì´íŠ¸ë¥¼ ë„ì¶œ**í•˜ëŠ” ì‘ì—…ì´ í•„ìš”í•©ë‹ˆë‹¤.<br>
íšŒì‚¬ Databaseì— ì ì¬ ë˜ì–´ìˆëŠ” ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ì—¬ í™•ë³´í•œ **ê³ ê° ë°ì´í„°**ì™€ **ê±°ë˜ ë°ì´í„°**ë¥¼ ë¶„ì„ì— ìš©ì´í•œ í˜•íƒœë¡œ ì •ì œí•˜ëŠ” ê²ƒì´ ì´ë²ˆ í”„ë¡œì íŠ¸ì˜ ì£¼ìš” ê³¼ì œì…ë‹ˆë‹¤.<br>
ê°€ëŠ¥í•˜ë‹¤ë©´ ë°ì´í„° ë¶„ì„ì„ í†µí•´ í˜„ì¬ ìƒí™©ê³¼ ë§¤ì¶œì•¡ ì¦ê°€ë¥¼ ìœ„í•œ ë°©ì•ˆì— ëŒ€í•œ **ë¹„ì¦ˆë‹ˆìŠ¤ ì¸ì‚¬ì´íŠ¸ë¥¼ ë„ì¶œ**í•˜ê³  **ì‹¤í–‰ ê°€ëŠ¥í•œ ê³„íšê¹Œì§€ ìˆ˜ë¦½**í•˜ëŠ” í”„ë¡œì íŠ¸ë¥¼ ì™„ì„±í•´ë³´ì„¸ìš”.

### ëª©í‘œ

#### ê¸°ë³¸ ê³¼ì œ
> - ì£¼ì–´ì§„ ë°ì´í„°ì…‹ì„ **ì´í•´í•˜ê³  ë¶„ì„**í•  ìˆ˜ ìˆë‹¤.
- ì£¼ì–´ì§„ ì§ˆë¬¸ì— ëŒ€í•´ **ì‹œê°í™”ë¥¼ í†µí•´ ì„¤ëª…**í•  ìˆ˜ ìˆë‹¤.
- **í’ˆì§ˆì˜ ë¬¸ì œì™€ êµ¬ì¡°ì  ë¬¸ì œ**ë¥¼ íŒŒì•…í•˜ì—¬ **ì •ì œ**í•  ìˆ˜ ìˆë‹¤.


#### ë„ì „ ê³¼ì œ
> - í˜„ì¬ í”Œë«í¼ ë‚´ ìì „ê±° ê±°ë˜ì˜ **ë™í–¥(trend)**ì„ íŒŒì•…í•œë‹¤.<br>
- **ê³ ê° ì„¸ë¶„í™”(Customer Segmentation)**ë¥¼ í†µí•´ ë¹„ìŠ·í•œ íŠ¹ì„±ì„ ê°€ì§„ **ê³ ê°êµ° ê°ê°ì˜ íŠ¹ì§•ì„ íŒŒì•…**í•œë‹¤. <br>
- ê³ ê°êµ° ë³„ë¡œ ë§¤ì¶œì„ ì¦ê°€ì‹œí‚¤ê¸° ìœ„í•´ ì ìš©í•  ìˆ˜ ìˆëŠ” ë§ˆì¼€íŒ… ì „ëµì„ ìˆ˜ë¦½í•˜ê³  **ì‹¤í–‰ ê³„íš(action plan)**ì„ ì œì‹œí•  ìˆ˜ ìˆë‹¤.

## **N111**

### ì˜¤ëŠ˜ì˜ ëª©í‘œ
- ì£¼ì–´ì§„ ë°ì´í„°ì…‹ì„ ë¶ˆëŸ¬ì˜¬ ìˆ˜ ìˆë‹¤.
- ë°ì´í„°ì…‹ì— ëŒ€í•´ pandas ë©”ì„œë“œë¥¼ í†µí•´ ê¸°ë³¸ ì •ë³´ë¥¼ í™•ì¸í•  ìˆ˜ ìˆë‹¤.

### `Topic 1`: ë°ì´í„°ì…‹ ë¶ˆëŸ¬ì˜¤ê¸°
ë³¸ê²©ì ì¸ ë¶„ì„ì— ì•ì„œ, ì•„ë˜ì˜ ë°ì´í„°ì…‹ ì„¤ëª…ì„ í†µí•´ ì–´ë–¤ ì •ë³´ë¥¼ ê°€ì§„ ë°ì´í„°ì…‹ì¸ì§€ íŒŒì•… í›„ ì½”ë“œë¥¼ í†µí•´ ë°ì´í„°ì…‹ì„ ë¶ˆëŸ¬ì˜¤ë„ë¡ í•©ì‹œë‹¤.

<br>

> **customer ë°ì´í„°ì…‹ ì„¤ëª… (description)** <br>
ìš°ë¦¬ í”Œë«í¼ì— ë“±ë¡ëœ ê³ ê° ì •ë³´ ë°ì´í„°

- `customer_id`: ê³ ê° ê³ ìœ ë²ˆí˜¸
- `first_name`: ì´ë¦„
- `last_name`: ì„±
- `gender`: ì„±ë³„
- `past_3_years_bike_related_purchases`: ìì „ê±° ê´€ë ¨ êµ¬ë§¤ ì´ë ¥ (3ë…„)
- `DOB`: ìƒë…„ì›”ì¼
- `job_title`: ì§ì—…ëª…
- `job_industry_category`: ì§ë¬´
- `wealth_segment`: ì¬ë ¥
- `deceased_indicator`: ì‚¬ë§ ì—¬ë¶€
- `default`: ì •ë³´
- `owns_car`: ì°¨ ì†Œìœ  ì—¬ë¶€
- `tenure`: ì¬ì§ ê¸°ê°„

#### **1-1. ë¼ì´ë¸ŒëŸ¬ë¦¬ì™€ ë©”ì„œë“œëŠ” ë¬´ì—‡ì¸ê°€ìš”?**
> ì•ìœ¼ë¡œ ì—¬ëŸ¬ë¶„ì€ ë‹¤ì–‘í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì‚¬ìš©í•˜ì—¬ ë¶„ì„, ëª¨ë¸ë§ì„ ì§„í–‰í•˜ì‹œê²Œ ë  í…ë°ìš”.
>
> ì˜¤ëŠ˜ Lecture Noteì—ì„œë„ pandasë¼ëŠ” ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ í™œìš©í•˜ê³  ìˆìŠµë‹ˆë‹¤.
>
> ê·¸ë ‡ë‹¤ë©´ ë¼ì´ë¸ŒëŸ¬ë¦¬ëŠ” ë¬´ì—‡ì´ë©°, ì™œ ì‚¬ìš©ì„ í•˜ëŠ” ê²ƒì¼ê¹Œìš”? ì´ì™€ ë”ë¶ˆì–´ ë¼ì´ë¸ŒëŸ¬ë¦¬ì™€ í•¨ê»˜ ìì£¼ ë“±ì¥í•˜ëŠ” ê°œë…ì¸ ë©”ì„œë“œëŠ” ë¬´ì—‡ì¸ì§€ì— ëŒ€í•´ì„œë„ í•¨ê»˜ ì°¾ì•„ë³¸ í›„ ë‚´ìš©ì„ ì •ë¦¬í•˜ì—¬ ë…¸ì…˜ì˜ **ì§„í–‰ë‚´ìš©**ì— ë‚¨ê²¨ì£¼ì„¸ìš”.


#### **1-2. pandasì˜ `read_csv` í•¨ìˆ˜ë¥¼ í™œìš©í•˜ì—¬ ì£¼ì–´ì§„ csv íŒŒì¼(customer_info.csv)ì„ `customer`ë¼ëŠ” ì´ë¦„ìœ¼ë¡œ ë¶ˆëŸ¬ì˜¤ì„¸ìš”.**

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv("/Users/bumsoojoe/Desktop/Study/Bootcamp_Review/Section1/Mini_project/csv/customer_info.csv")

In [8]:
df.head(5)

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure,Unnamed: 13
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0,NaN
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0,NaN
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,01-Feb,Yes,15.0,NaN
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0,NaN
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0,NaN

In [9]:
df.tail(5)

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure,Unnamed: 13
3995,3996,Rosalia,Halgarth,Female,8,1975-08-09,VP Product Management,Health,Mass Customer,N,-1.00E+02,No,19.0,NaN
3996,3997,Blanch,Nisuis,Female,87,2001-07-13,Statistician II,Manufacturing,High Net Worth,N,test,Yes,1.0,NaN
3997,3998,Sarene,Woolley,U,60,NaN,Assistant Manager,IT,High Net Worth,N,NaN,No,NaN,NaN
3998,3999,Patrizius,NaN,Male,11,1973-10-24,NaN,Manufacturing,Affluent Customer,N,NaN,Yes,10.0,NaN
3999,4000,Kippy,Oldland,Male,76,1991-11-05,Software Engineer IV,NaN,Affluent Customer,N,0/0,No,11.0,NaN

### `Topic 2`: ê¸°ë³¸ ì •ë³´ í™•ì¸
> ìœ„ì—ì„œ ë¶ˆëŸ¬ì˜¨ ë°ì´í„°ì…‹ì— ëŒ€í•´ pandas ë©”ì„œë“œë¥¼ í™œìš©í•˜ì—¬ ê¸°ë³¸ ì •ë³´ë¥¼ í™•ì¸í•´ë´…ì‹œë‹¤.

#### **2-1. `customer`ëŠ” ëª‡ ê°œì˜ í–‰ê³¼ ì—´ë¡œ êµ¬ì„±ë˜ì–´ ìˆëŠ”ì§€ í™•ì¸í•´ë³´ì„¸ìš”.**

> ğŸ’¡ **Hint)** shape

In [11]:
df.shape

(4000, 14)

#### **2-2. `customer`ì˜ ì •ë³´(column ì´ë¦„, ê²°ì¸¡ì¹˜ ê°œìˆ˜, ë°ì´í„°íƒ€ì… ...)ë¥¼ pandas ë©”ì„œë“œë¥¼ í™œìš©í•˜ì—¬ í™•ì¸í•´ë³´ì„¸ìš”.**
> ğŸ’¡ **Hint)** info

- ëª‡ ê°œì˜ columnì„ ê°€ì§€ê³  ìˆëŠ” ë°ì´í„°ì…‹ì¸ì§€ í™•ì¸í•´ë³´ì„¸ìš”.
  - ê° columnì— ì–´ë–¤ ì •ë³´ê°€ ë“¤ì–´ìˆëŠ”ì§€ í™•ì¸í•œ ë’¤, ë¬´ì˜ë¯¸í•œ ë°ì´í„°ê°€ ë“¤ì–´ìˆëŠ” columnì´ ìˆëŠ”ì§€ë„ í•¨ê»˜ ë…¼ì˜í•´ë³´ì„¸ìš”.

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 14 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   object
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              2571 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
 13  Unnamed: 13                          0 non-null      float64
dtypes: float64(2), int64(2), object(10)
memory usage: 437.6+ KB

In [42]:
dfColDtype = list(df.dtypes)
dfColDtype

[dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('float64')]

#### **2-3. `customer`ì— ê²°ì¸¡ì¹˜ê°€ ìˆëŠ”ì§€ í™•ì¸í•œ ë’¤, ì–´ë–»ê²Œ ì²˜ë¦¬í•˜ëŠ” ê²ƒì´ ì¢‹ì„ì§€ ìƒê°í•´ë³´ì„¸ìš”.**
> ğŸ’¡ **Hint)** missing value, nan, isnull
- ê²°ì¸¡ì¹˜ ì²˜ë¦¬ ë°©ì‹ì—ëŠ” í¬ê²Œ ë‘ ê°€ì§€ê°€ ìˆìŠµë‹ˆë‹¤.
  - ê²°ì¸¡ì¹˜ ëŒ€ì²´: íŠ¹ì • ê°’ìœ¼ë¡œ ê²°ì¸¡ì¹˜ë¥¼ ì±„ìš°ëŠ” ê²ƒ
  - ê²°ì¸¡ì¹˜ ì œê±°: ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” í–‰ ë˜ëŠ” ì—´ì„ ì œê±°í•˜ëŠ” ê²ƒ

- ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” columnì—ëŠ” ì–´ë–¤ ê²ƒì´ ìˆëŠ”ì§€ í™•ì¸í•´ë³´ì„¸ìš”.
- ê° column ë³„ë¡œ ê²°ì¸¡ì¹˜ë¥¼ ì–´ë–»ê²Œ ì²˜ë¦¬í•˜ëŠ” ê²ƒì´ ì¢‹ì„ì§€ ìƒê°í•´ë³´ì„¸ìš”.
  - ê²°ì¸¡ì¹˜ ì²˜ë¦¬ì— ë¬´ì¡°ê±´ì ì¸ ì •ë‹µì€ ì—†ìœ¼ë©°, ì¡°ì—ì„œ ë…¼ì˜ í›„ ë‚´ë¦° ê²°ë¡ ì„ ë…¼ë¦¬ì ìœ¼ë¡œ ì„¤ëª…í•˜ëŠ” ê²ƒì´ ë¬´ì—‡ë³´ë‹¤ ì¤‘ìš”í•©ë‹ˆë‹¤.

In [16]:
df.isnull().sum()

customer_id                               0
first_name                                0
last_name                               125
gender                                    0
past_3_years_bike_related_purchases       0
DOB                                      87
job_title                               506
job_industry_category                   656
wealth_segment                            0
deceased_indicator                        0
default                                1429
owns_car                                  0
tenure                                   87
Unnamed: 13                            4000
dtype: int64

#### **2-4. `customer`ì— ì¤‘ë³µê°’ì´ ìˆëŠ”ì§€ í™•ì¸í•œ ë’¤, ìˆë‹¤ë©´ ì œê±°í•˜ì„¸ìš”.**
> ğŸ’¡ **Hint)** duplicated

In [19]:
df.duplicated().sum()

0

In [24]:
colList = df.columns
for i in colList:
    print(i," = ", df[i].duplicated().sum())

customer_id  =  0
first_name  =  861
last_name  =  274
gender  =  3994
past_3_years_bike_related_purchases  =  3900
DOB  =  551
job_title  =  3804
job_industry_category  =  3990
wealth_segment  =  3997
deceased_indicator  =  3998
default  =  3932
owns_car  =  3998
tenure  =  3977
Unnamed: 13  =  3999

In [34]:
len(colList)

14

In [43]:
for i in range(len(colList)):
    print("- ",colList[i], " : ", dfColDtype[i])

-  customer_id  :  int64
-  first_name  :  object
-  last_name  :  object
-  gender  :  object
-  past_3_years_bike_related_purchases  :  int64
-  DOB  :  object
-  job_title  :  object
-  job_industry_category  :  object
-  wealth_segment  :  object
-  deceased_indicator  :  object
-  default  :  object
-  owns_car  :  object
-  tenure  :  float64
-  Unnamed: 13  :  float64

### **Conclusion**
> ì˜¤ëŠ˜ ë…¼ì˜í•œ ë‚´ìš©ì„ ë°”íƒ•ìœ¼ë¡œ ì•„ë˜ í•­ëª©ì— ëŒ€í•´ ë…¼ì˜í•˜ê³  ë‹µë³€ì„ ì •ë¦¬í•´ë³´ì„¸ìš”.

 * í•´ë‹¹ ë°ì´í„°ì…‹ì€ ì–´ë–»ê²Œ êµ¬ì„±ë˜ì–´ ìˆëŠ”ì§€ ì •ë¦¬í•´ë³´ì„¸ìš”.
  - ëª‡ ê°œì˜ í–‰ê³¼ ì—´ë¡œ êµ¬ì„±ë˜ì–´ ìˆëŠ” ë°ì´í„°ì…‹ì¸ê°€ìš”?
    - í–‰ : 4000
    - ì—´ : 14
  - ê° ì»¬ëŸ¼ì´ ì–´ë–¤ ë°ì´í„° íƒ€ì…ì— ì†í•´ìˆë‚˜ìš”?
    -  customer_id  :  int64
    -  first_name  :  object
    -  last_name  :  object
    -  gender  :  object
    -  past_3_years_bike_related_purchases  :  int64
    -  DOB  :  object
    -  job_title  :  object
    -  job_industry_category  :  object
    -  wealth_segment  :  object
    -  deceased_indicator  :  object
    -  default  :  object
    -  owns_car  :  object
    -  tenure  :  float64
    -  Unnamed: 13  :  float64
 * ë°ì´í„° ì „ì²˜ë¦¬ ê³¼ì •ì„ ì •ë¦¬í•´ë³´ì„¸ìš”. (ê²°ì¸¡ì¹˜ ì²˜ë¦¬, ì¤‘ë³µê°’ ì œê±°)
  - ê²°ì¸¡ì¹˜ëŠ” ëª‡ ê°œê°€ ìˆì—ˆë‚˜ìš”? ì–´ë–¤ ê¸°ì¤€ìœ¼ë¡œ ì œê±°/ëŒ€ì¹˜í•˜ì…¨ë‚˜ìš”?
    - customer_id                               0
    - first_name                                0
    - last_name                               125
    - gender                                    0
    - past_3_years_bike_related_purchases       0
    - DOB                                      87
    - job_title                               506
    - job_industry_category                   656
    - wealth_segment                            0
    - deceased_indicator                        0
    - default                                1429
    - owns_car                                  0
    - tenure                                   87
    - Unnamed: 13                            4000
  - ì¤‘ë³µê°’ì€ ëª‡ ê°œê°€ ìˆì—ˆë‚˜ìš”? ì–´ë–¤ ë©”ì†Œë“œë¡œ ì œê±°í•˜ì…¨ë‚˜ìš”?
    - ì¤‘ë³µê°’ : 0
    - ì¤‘ë³µë˜ëŠ” ì—´ì€ ì—†ë‹¤.

In [44]:
# ê²°ì¸¡ì¹˜ ì „ì²˜ë¦¬
"""
ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” ì»¬ëŸ¼ì„ ì§ì ‘ì ìœ¼ë¡œ í™•ì¸ ë„ˆë¬´ ë§ì€ ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” í–‰ì´ë‚˜ ì—´ì€ ì œê±°í•œë‹¤.

"""
df

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure,Unnamed: 13
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0,NaN
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0,NaN
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,01-Feb,Yes,15.0,NaN
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0,NaN
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3996,Rosalia,Halgarth,Female,8,1975-08-09,VP Product Management,Health,Mass Customer,N,-1.00E+02,No,19.0,NaN
3996,3997,Blanch,Nisuis,Female,87,2001-07-13,Statistician II,Manufacturing,High Net Worth,N,test,Yes,1.0,NaN
3997,3998,Sarene,Woolley,U,60,NaN,Assistant Manager,IT,High Net Worth,N,NaN,No,NaN,NaN
3998,3999,Patrizius,NaN,Male,11,1973-10-24,NaN,Manufacturing,Affluent Customer,N,NaN,Yes,10.0,NaN
3999,4000,Kippy,Oldland,Male,76,1991-11-05,Software Engineer IV,NaN,Affluent Customer,N,0/0,No,11.0,NaN

In [45]:
df.gender.value_counts()

gender
Female    2037
Male      1872
U           88
F            1
Femal        1
M            1
Name: count, dtype: int64

In [47]:
df.job_title.value_counts()

job_title
Business Systems Development Analyst    45
Tax Accountant                          44
Social Worker                           44
Internal Auditor                        42
Recruiting Manager                      41
                                        ..
Database Administrator I                 4
Health Coach I                           3
Health Coach III                         3
Research Assistant III                   3
Developer I                              1
Name: count, Length: 195, dtype: int64